@model Restaurant.Web.Models.ProductDto
<form asp-action="Edit">
    <input asp-for="ProductId" hidden/>
    <br/>
    <div class="container border p-3">
        <h1 class="text-info">Create Product</h1>
        <hr/>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pt-3">
                <input class="form-control" asp-for="Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="CatagoryName" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pt-3">
                <input class="form-control" asp-for="CatagoryName"/>
                <span asp-validation-for="CatagoryName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="Description" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pt-3">
                <textarea class="form-control" asp-for="Description" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="ImageUrl" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pt-3">
                <input class="form-control" asp-for="ImageUrl"/>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="Price" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pt-3">
                <input class="form-control" asp-for="Price"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">

                <a asp-action="ProductIndex" class="btn btn-primary btn form-control"> Back To List</a>
            </div>
            <div class="col-5">

                <input type="submit" value="Edit" class="btn btn-info form-control"/>
            </div>
        </div>
        <div></div>
    </div>

</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
