<div class="text-center">
    <h1 class="text-info pt-4">Great!!You are one step closer to amazing PIZZA</h1>
    <p class="pb-3">We have received your order and yout payment will be proccesd soon</p>
    <img src="/images/order.PNG" width="60%" />
    </div>